body {
    font-family: 'Inter Tight', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    color: black;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-align: center;
}

p {
    text-align: left;
}


#recipe-container {
    background-color: rgb(237, 227, 122);
    border-radius: 15px;
    text-align: left;
    max-width: 70%;
  }

#top{
    background-color: orange;
    text-align: center;
    height: 100px;
    font-family: 'Inter Tight', sans-serif; 
    font-weight: 600;
    font-size: 40px;
    color: black;
}


#filling-img {
    max-width: 90%;
    display: inline-block;
}


#leftcolumn {
    background: #2e1cb8;
    align-items: center;
}


#rightcolumn {
    background: #CC33FF;
}


#bottom {
    background: #33FF66;
    /* display: grid;
    grid-template-columns: 3fr 3fr 3fr; */
    align-items: center;
}

#fav-button {
    border-radius: 15px;
    font-family: 'Inter Tight', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #ff7f11;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
#fav-button:hover {
    background: #fe8e2d;
    text-decoration: none;
}

#something {
    text-align: center;
    padding: 15px;
    font-weight: 500;
}

.container {
    background-color: #33FF66;
}
