body {
    font-family: 'Inter Tight', sans-serif;
    background-image: url("img/scattered-food-bottom.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* line-height: 2; */
  }


h1 {
    font-weight: 600;
    font-size: 30px;
    color: black;
}


h2 {
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-align: center;
}


p {
    text-align: left;
}


#recipe-container {
    background-color:white;
    border-radius: 15px;
    text-align: left;
    max-width: 80%;
    font-size: 14px;
  }

#top{
    text-align: center;
    height: 80px;
    font-family: 'Inter Tight', sans-serif; 
    font-weight: 600;
    font-size: 30px;
    color: black;
}


#filling-img {
    max-width: 90%;
    display: inline-block;
}


#leftcolumn {
    align-items: right;
    padding-top: 20px;
    padding-bottom: 20px;
}


#rightcolumn {
    padding-top: 20px;
    padding-bottom: 20px;
}


#bottom {
    align-items: center;
    padding-top: 20px;
}

#sides {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#fav-button {
    border-radius: 15px;
    font-family: 'Inter Tight', sans-serif;
    color: #ffffff;
    font-size: 12px;
    background: #ee6352;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
#fav-button:hover {
    background: #ed7c70;
    text-decoration: none;
}

#something {
    background-color: #ff7f11; 
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
}

#new-idea{
    margin: 5px;
    text-align: center;
}

.new-idea {
    background-color: #3498db;
    border-radius: 15px;
    color: white;
    padding: 16px;
    border: none;
}

.new-idea:hover {
    background: #5ea4d3;
  }

/* .container {
    background-color: #33FF66;
} */
