h1 {
    font-family: 'Inter Tight', sans-serif; 
    font-weight: 600;
    font-size: 64px;
    color: black;
  }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("img/scattered-food.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

.container {
    background-color: white;
    border-radius: 15px;
    position: center center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
  }

#blurb {
    font-family: 'Inter Tight', sans-serif; 
    font-weight: 400;
    font-size: 24px;
    color: rgb(59, 58, 58);
}


.idea-btn {
    border-radius: 15px;
    font-family: 'Inter Tight', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #ff7f11;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }

.idea-btn:hover {
    background: #fe8e2d;
    text-decoration: none;
  }


.fav-btn {
    border-radius: 15px;
    font-family: 'Inter Tight', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #ee6352;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }

.fav-btn:hover {
    background: #ed7c70;
    text-decoration: none;
  }


.all-btn {
    border-radius: 15px;
    font-family: 'Inter Tight', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 25px 10px 25px;
    width: 200px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }

.all-btn:hover {
    background: #5ea4d3;
    text-decoration: none;
  }


  