

body {
  font-family: 'Inter Tight', sans-serif; 
  color: #000;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  background-image: url("img/scattered-food.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  color: #000;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  justify-items: center;
  /* width: 300px; */
}

.meal {
  background-color: #3498db;
  border-radius: 15px;
  /* text-align: center; */
}


h2 {
  font-family: 'Inter Tight', sans-serif; 
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-align: center;
}

.details {
  background-color:rgb(243, 240, 240);
  font-weight: 400;
  font-size: 12px;
  color: rgb(26, 26, 26);
  padding-left: 8px;
  padding-right: 8px;
}

#fav-button {
  border-radius: 15px;
  font-family: 'Inter Tight', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #ee6352;
  padding: 10px 25px 10px 25px;
  width: 200px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

#fav-button:hover {
  background: #ed7c70;
  text-decoration: none;
}

#top{
  text-align: center;
  height: 80px;
  font-family: 'Inter Tight', sans-serif; 
  font-weight: 600;
  font-size: 30px;
  color: black;
}

#all-container {
  background-color: white;
  border-radius: 15px;
  text-align: left;
  width: 950px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}