{% extends 'base.html' %}


{% block body %}
<head>
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- Stylesheet -->
<link rel="stylesheet" href="/static/css/favorites.css" />
</head>

<h1>{{name}}&#180;s Favorites:</h1>
<div id="container"></div>
{% endblock %}

{% block js %}
<script src="/static/js/favorites.jsx" type="text/jsx"></script>
{% endblock %}