{% extends 'base.html' %}
{% block title %}Lunch Planning Site{% endblock %}

{% block body %}
<h1>Welcome!</h1>
<div className="action-toggles">


<button id="login-toggle">Login</button>

<div id="login-form" style="display:none;">
    <form class="login" form action="/login" method="POST">
            <p>Email: <input type="text" name="email" id="login-email"></p>
            <p>Password: <input type="password" name="password" id="login-pw"></p>
            <p><button type="submit" id="login-btn">Submit</button></p>
    </form>
</div>
    
    
<button id="create-toggle">Create Account</button>

<div id="create-acct-form" style="display:none;">
    <form id="create-acct" form action="/create-acct" method="POST">
            <p>Name: <input type="text" name="name" id="create-name"></p>
            <p>Email: <input type="text" name="email" id="create-email"></p>
            <p>Password: <input type="password" name="password" id="create-pw"></p>
            <p><button type="submit" id="submit-btn">Submit</button></p>
    </form>
</div>


<script src="/static/js/homepage.js"></script>

</div>



   
{% endblock %}
