{% extends 'base.html' %}
{% block title %}LunchBoxy{% endblock %}

{% block body %}
<head>
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- Stylesheet -->
<link rel="stylesheet" href="/static/css/homepage.css" />
</head>
<body>


<div class="container d-flex justify-content-center align-items-center">
    <div class="row p-5">
        <h1>LunchBoxy</h1>
    
    
        <div class="row p-5">
            <div name="action-toggles">

                <button class="button" id="login-toggle" >Log In</button> 
                <button class="button" id="create-toggle">Sign Up</button>
                <br><br>

                <div id="login-form" style="display:none;">
                    <form class="form" form action="/login" method="POST">
                            <p>Email: <input type="text" name="email" id="login-email"></p>
                            <p>Password: <input type="password" name="password" id="login-pw"></p>
                            <p><button class="submit" type="submit" id="login-btn">submit</button></p>
                    </form>
                </div>



            <div id="create-acct-form" style="display:none;">
                <form class="form" id="create-acct" form action="/create-acct" method="POST">
                        <p>Name: <input type="text" name="name" id="create-name"></p>
                        <p>Email: <input type="text" name="email" id="create-email"></p>
                        <p>Password: <input type="password" name="password" id="create-pw"></p>
                        <p><button class="submit" type="submit" id="submit-btn">submit</button></p>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <p>Let's pack some lunches!</p>
    </div>
</div>
    

</div>
    <script src="/static/js/homepage.js"></script>   
</body>


   
{% endblock %}