{% extends 'base.html' %}

{% block body %}
<head>  
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--Stylesheet -->
<link rel="stylesheet" href="/static/css/lunch-idea.css" />
</head>


<div id="container" class="container d-flex justify-content-center align-items-center">   
</div>
<div id="new-idea">
    <button class="new-idea"><a href="/lunch-idea"><img src="/static/css/img/lamp (3).png"></a></button>
</div>



{% endblock %}

{% block js %}
<script src="/static/js/lunch-idea.jsx" type="text/jsx"></script>
{% endblock %}

